@import "/styles/common.module";

.hero {
  padding: 10px;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  h5 {
    margin: 0;
  }
  h5,
  h1 {
    letter-spacing: 2px;
  }

  &--light {
    background-blend-mode: lighten;
  }

  &--dark {
    background-color: #444;
  }

  @media screen and (min-width: 600px) {
    font-size: 1.3em;
  }
}

.skillsets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}
