.container {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  &--light {
    background-image: url("/public/images/container-bg.jpg");
  }
  &--dark {
    background-color: #666;
  }
}

.hero {
  padding: 10px;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  h5 {
    margin: 0;
  }
  h5,
  h1 {
    letter-spacing: 2px;
  }

  &--light {
    background-blend-mode: lighten;
  }

  &--dark {
    background-color: #444;
  }

  @media screen and (min-width: 600px) {
    font-size: 1.3em;
  }
}

.skillsets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

.heading {
  padding: 1.5rem;
  font-size: 1.5em;
  text-align: center;
}
.para {
  padding: 0 1.5rem 1.5rem;
  text-indent: 2rem;
  text-align: justify;
}

@media (min-width: 600px) {
  .heading {
    text-align: left;
  }
  .para {
    text-align: left;
  }
}
